* {
	margin: 0;
	padding: 0;
}

@-webkit-keyframes css-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes css-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes css-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes css-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.title-wrapper {
	font-size: 2.5em;
  color: white;
}

body {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
	font-family: "Raleway","sans-serif";
    background: linear-gradient(270deg, #18a22a, #e8cd0b, #61c2ff, #fc60ff);
    background-size: 800% 800%;

    -webkit-animation: css-gradient 20s ease infinite;
    -moz-animation: css-gradient 20s ease infinite;
    -o-animation: css-gradient 20s ease infinite;
    animation: css-gradient 20s ease infinite;
}

.head-content {
	height: 100vh;
	overflow: auto;
}

a {
	text-decoration: none;
}

.center-wrapper {
	position: absolute;
	left: 50%;
	top: 45%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 600px;
}


.description-wrapper {
	margin-top: 12px;
	color: white;
}
.content-description {
	font-size: 1.4em;
}

.head-b-wrapper {
  margin-top: 96px;
}

.head-b-generate-quiz {
  color: white;
  font-size: 1.2em;
  padding: 24px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 0;
  transition: all .5s ease;
  margin: 12px;
}

#home-button {
  border: solid 3px white;
}

#home-button:hover {
  border: solid 6px white;
  letter-spacing: 1px;
}

@media (max-width: 850px) {
	.flex-container { 
	flex-direction: column;
}

.flex-child {
	flex: 1 0 auto;
	max-width: 100%;
}
}

@media (max-width: 625px) {
.center-wrapper {
	width: 300px;
}

.title-wrapper {
	font-size: 1.5em;
}
.pastel-body-p {
	padding: 24px;
}
}



@media (max-width: 299px) {
.center-wrapper {
	width: 250px;
}

.title-wrapper {
	font-size: 1.3em;
}
}




