/*Nav bar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  font-size: 110%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

ul li {
  padding: 0px 24px;
}

ul li a:hover {
  color: #fff;
  opacity: 1;
}

li > .active {
  color: #fff;
  opacity: 1;
}

/* Underline styles */
.nav__pages li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
.nav__pages li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav__pages li a:hover::after,
.nav__pages li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.nav__pages li a {
  overflow: hidden;
}

.nav__pages li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav__pages li a:hover::after,
.nav__pages li a:focus::after {
  transform: translate3d(0, 0, 0);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  height:50px;
}

/* App */

* {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
}

html {
  background-color: #1D2134;
}

main {
  margin: 0 auto;
  width: 75%;
  max-width: 1000px;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Icon bar */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  bottom: 16px;
  left: 0;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
  opacity: 0.7;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  opacity: 1;
}

body {
  overscroll-behavior-y: none;
}

  .announcement {
    background-color: #6130DA;
    padding: .25em 4em;
    text-align: center;
    }

    .announcement p a {
      color: white;
    }


#root {
  overflow: hidden;
}

@font-face {
  font-family: 'OPTIPeach';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('./fonts/OPTIPeach-Gras.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/OPTIPeach-Gras.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media screen and (max-width: 575px) {
 main {
  width: 90%;
}

.icon-bar {
  display: none;
}
}

footer {
  background-color: #2b2f4b;
  text-align: center;
}

.footer-wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 1000px;
  padding: 4em 0px;
}

.footer-links {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 2.0em;
  font-size: 125%;
  justify-items: center;
  padding: 0px;
}

@media (max-width: 575px) {
  .footer-links {
    grid-auto-flow: row;
    grid-gap: 2em;
  }
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-links li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-links li:hover ~  li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.footer-links-wrapper {
  display: flex;
  padding: 2em;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.blockquote {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 1em;
  opacity: .7;
}
.blockquote p {
  font-weight: 700px;
  text-align: center;
}

/*blockquote p::before {
  content: "\f095"; 
  font-family: FontAwesome;
 display: inline-block;
 padding-right: 6px;
 vertical-align: middle;
font-size: 180px;
}*/

.blockquote:before {
position: absolute;
font-family: 'FontAwesome';
top: 0px;
left: 50px;
content:"\f10d";
font-size: 150px;
color: rgba(0,0,0,0.1);
 
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  height: 3px;
  width: 200px;
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/josefin-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/josefin-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/josefin-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/josefin-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/abril-fatface-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/abril-fatface-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}